@media only screen and (min-width: 700px) {
    #menu-btn {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    header h1 {
        font-size: 2rem;
    }
}